<nav class="navbar navbar-inverse " style="background-color: rgb(64, 36, 110)">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color: white;">
         SocioGram...Let's Share
      </a>
    </div>
    <ul class="nav navbar-nav" >
      <li routerLinkActive="active"><a routerLink="home" >Home</a></li>
      <li routerLinkActive="active" ><a routerLink="allpost" routerLinkActive="active">All Post</a></li>
      <li routerLinkActive="active"><a routerLink="follow" routerLinkActive="active">Following</a></li>
      <li routerLinkActive="active"><a routerLink="fev" routerLinkActive="active">My Fevourite</a></li>
      <li routerLinkActive="active"><a routerLink="mypost" routerLinkActive="active">My Post</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="signup">Sign up</a></li>
        <li routerLinkActive="active"><a routerLink="signin">Sign In</a></li>
      
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>